body {
	margin: 0;
	padding: 0;
}
section {
	background-color: #E6E5DC;
	overflow: hidden;
}
header {
	position: relative;
	min-height: 70px;
	background-color: #FCFCFC;
}
.logo {
	position: absolute;
	float: left;
}
.navigation {
	position: absolute;
	bottom: 0;
	right: 0;
}
.module {
	background-color: #ffffff;
}
.module-padding {
	padding:10px;
}
.module-header {
	position: relative;
	overflow: hidden;
}
.module-header h3{
	float: left;
}
.module-header img {
	float: right;
}
.module-graph img {
	margin: auto;
}
.module-description {
	background-color: #E6E5DC;
	overflow:	hidden;
}
.module-description div{
	float:left;
	width: 33.33%;
}

.content {
	position: relative;
}