body {
	margin: 0;
	padding: 0;
	font-family: Helvetica;
	font-size: 12px;
	background-color: #E6E5DC;
}
h4, h6 {
	font-weight: 700;
}
p {
	font-size: 14px;
	color:	#979A9A;
}
section {
	background-color: #E6E5DC;
	overflow: hidden;
}
header {
	position: relative;
	min-height: 70px;
	background-color: #E8F3EE;
}

@media only screen and (max-width:480px) {
	.module-section, .module-new-section {
		width: 100%;
	}
	.module {
		width: 100% !important;
	}
	button.module-new-prog {
		width: 100% !important;
	}
	.navigation{
		position: relative !important;
	    background: #E8F3EE;
	}
	.nav-link {
		border: 1px solid #E5E8E8 !important;
	}
	.navbar-toggle {
		border: 1px solid #000000;
	}
	.icon-bar {	
    	display:block;
    	width:22px;
    	height:2px;
    	border-radius:1px;
    	border:1px solid #444;
	}

}
@media screen and (min-width: 601px) and (max-width: 899px) {
	.module-new-section {
		width: 100%;
		padding: 10px !important;
	}
	.module-section  {
		padding: 0px 10px 10px 10px;
	}
	.module {
		width: 45% !important;
	}
	button.module-new-prog {
		width: 100% !important;
    	cursor: pointer;
	}
	.navigation {
		position: relative !important;
		background: #E8F3EE;
	}
	.nav-link {
		border: 1px solid #E5E8E8 !important;
	}
	.navbar-toggle {
		border: 1px solid #000000;
	}
	.icon-bar {	
    	display:block;
    	width:22px;
    	height:2px;
    	border-radius:1px;
    	border:1px solid #444;
	}
}

@media screen and (min-width: 1000px) {
	#mobile-navigation {
		display: none!important;
	}
}


/*************Header styles***************/
.logo {
	position: absolute;
	float: left;
}
.navigation {
	position: absolute;
	bottom: 0;
	right: 0;
}
#sub-navigation {
	background: #ffffff;
}
.navbar-right {
	background: linear-gradient(#FFFFFF, #E5E8E8);
}
.nav-link, .sub-nav-item a {
	margin-right: 0px !important;
	border: none;
	color: #9BC58A;
	font-size: 14px;
	font-weight: 600;
}
.nav-item {
	border: 1px solid #D7E0DC;
	border-right: none;
}
.nav-item.active  {
	color: #000000;
	box-shadow: 2px 2px 4px #888888, 0px 0px 1px #888888;
	/*-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.7);*/
}
.nav li a:focus,.nav li a:hover {
	background: transparent;
}
.sub-nav-item.active a {
	color: #555555;
}
li.active {
	border-bottom: 1px solid #ffffff;
	background-color: #FFFFFF;
}

/**********Header styles End**************/


.table {
	margin: 10px;
}
/*Modal Section*/
.module-new-section {
	padding: 20px;
	text-align: center;
}
button.module-new-prog {
	width: 80px;
	height: 80px;
	background: linear-gradient(#9ACD32, #9BC58A);
}
.form-control:focus {
  border-color: #9DC287;
  border-width: 1px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(130, 224, 170, 0.7);
}
/*End of Modal Section*/
/* modules section*/
.module {
	margin:10px;
	display: inline-block;
	float: left;
	width: 31%;
	background-color: #ffffff;
	border-radius: 5px;
}

.module-header {
	padding:10px;
	position: relative;
	overflow: hidden;
}
.module-header h4{
	float: left;
}
.module-header .mpencil {
	float: right;
	margin: 6px;
}

.module-graph {
	width: 100%;
	padding:10px;
}

.module-graph img{
	width: 100%;
	padding: 0px 10px;
}
.module-description table{
	width: 100%;
}
.module-description {
	padding:10px;
	background-color: #FBFBF6;
	font-weight: 300;
	border-top: 1px solid #E8F3EE;
	border-bottom: 1px solid #E8F3EE;
}
.column-header{
	font-size: 12px;
	font-weight: 600;
	color: #979A9A;
}
.module-description td {
	font-size: 14px;
	width: 33.33%;
	color: #979A9A;
}
.text-bold {
	color: #000000 !important;
	font-weight: 700;
}
.module-extended {
	display: none;
	padding: 10px 10px;
}
.module-extended .table {
	width: 100%;
	margin: 0 auto; 
}
.module-extended td {
	color: #979A9A;
	white-space : nowrap;
  	overflow : hidden;
  	text-overflow: ellipsis;
  	width: 30%;
  	padding: 0px 5px !important;
}
.module-more {
	cursor: pointer;
	color: #979A9A;
	padding: 5px 10px;
}
.pencil-sprite {
	display: inline-block;
	width: 20px;
    height: 20px;
    line-height: 17px;
    background-color: red;
    background: url('assets/pencil_icons.png');
    background-position: 0px 17px;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #E5E7E9;
}

.pencil-sprite:hover {
    background: url('assets/pencil_icons.png');
    background-position: 0px 34px;
    border: 1px solid #000000;
}
.graph-sprite {
	display: inline-block;
	width:	65px;
	height: 18px;
	line-height: 18px;
	background: url('assets/spark_lines.png'); 
}
.text-bold-big {
	color: #000000 !important;
	font-weight: 700;
	font-size: 16px;
}
.text-small {
	font-size: 12px;
}
.column-header-big {
	font-size: 14px;
}

.no-styling {
	font-weight: 100;
	font-size: 12px;
}

.table-info td {
	font-weight: 600;
	font-size: 16px;
}

.table-info th {
	font-weight: 600;
	font-size: 14px;
}